<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<customErrors mode="Off" />
		<compilation debug="true" targetFramework="4.7.2" />
		<httpRuntime targetFramework="4.7.2" maxRequestLength="1048576" />
	</system.web>
	<connectionStrings>
		<add name="con" connectionString="" />
		<add name="admin" connectionString="" />
		<add name="service" connectionString="" />
	</connectionStrings>
	<appSettings>
		<add key="MailUser" value="" />
		<add key="MailPassword" value="" />
		<add key="EncryptionKey" value="" />
	</appSettings>
</configuration>